

.up-news-text h2{

    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    color: #111;
    text-transform: capitalize;
    font-style: italic;
    transition: all ease 0.5s;
    &:hover{
        color: $hovercolor;
        transform: scale(1.2);
    }

}

.update-cart{
   text-align: center;
   
align-items: center;
justify-content: center;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(380px, auto));
gap: -1rem;
margin-bottom: 50px;
gap: 3rem;

.cart{

    img{
        width: 380px;
        border-radius: 5px;
        height: auto;
    }


h5{
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 800;
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;

}

        h4{

            color: #111;
            font-weight: 600;
            font-size: 18px;

        }

            p{
                
                color: #707070;
                font-size: 17px;
                max-width: 380px;
                line-height: 25px;
                margin-bottom: 12px;


            }

            h6{

                color: #151515;
                font-size: 14px;
                font-weight: 700;


            }

}
}